@use "../../styles/" as *;

.scrollSection {
  margin: 2em 0;

  ::-webkit-scrollbar {
    width: 0px;
  }

  .wrapper {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x proximity;
    transition: all 0.5s;
    gap: 2em;
  }
}
