@use "../../styles/" as *;

.topSection {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);

  @include navbar__Height;

  .container {
    background-color: $color-darkBlack;
    background-blend-mode: multiply;
    transition: all 0.4s;
    text-decoration: none;
    background-size: cover;

    h4 {
      font-size: $fontSize--h4;
      font-weight: $text-bold;
      letter-spacing: 3px;
      color: $color-white;
      padding-bottom: 1.5em;
      opacity: 1;
      transition: all 0.4s;
    }

    &:hover {
      background-color: $color-white;

      & h4 {
        opacity: 0;
      }
    }
  }

  .LivingRoom {
    background-image: url(../../assets/mainSectionIMG//chair-12.jpg);
  }
  .homeOffice {
    background-image: url(../../assets/mainSectionIMG//chair-11.jpg);
  }
  .diningRoom {
    background-image: url(../../assets/mainSectionIMG//chair-14.jpg);
  }
  .others {
    background-image: url(../../assets/mainSectionIMG//chair-15.jpg);
  }
}

@media screen and (max-width: $media-laptopM) {
  .topSection {
    grid-template-columns: repeat(2, 1fr);
  }
  .LivingRoom {
    background-position: center;
  }
  .homeOffice {
    background-position: center;
  }
  .diningRoom {
    background-position: center;
  }
  .others {
    background-position: center;
  }
}

@media screen and (max-width: $media-tabletM) {
  .topSection {
    grid-template-columns: 1fr;
    .container {
      h4 {
        padding-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: $media-tabletS) {
  .topSection {
    .container {
      h4 {
        font-size: $fontSize--h6;
      }
    }
  }
}
