@use "../../styles/" as *;

.productSection {
  max-width: 90%;
  margin: 0 auto;
  padding: 6em 0;

  .listContainer {
    display: flex;
    list-style: none;
    gap: 14px;
    padding-bottom: 2.5em;
    border-bottom: solid 1px $color-warmGray;
    button {
      cursor: pointer;
      border: none;
      background-color: $color-white;
    }
  }
  .productContainer {
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: $media-tablet) {
  .productSection {
    padding: 4em 0;
    .productContainer {
      gap: 2em;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: $media-tabletS) {
  .productSection {
    padding: 2em 0.5em;

    .productContainer {
      gap: 0;
      grid-template-columns: 1fr;
    }
  }
}
