@use "../../styles/" as *;

.contentContainer {
  @include modalAnimation;
  overflow-y: auto;
}

.cartContainer {
  border-top: solid 1px $color-black;
}

.active {
  opacity: 1;
  transform: translateX(100%);
}
