@use "../../../styles/" as *;

.figure {
  box-shadow: 5px 5px 15px rgba($color-warmGray, 0.4);
  text-align: center;

  a {
    text-decoration: none;
  }

  &:hover {
    .content {
      .imgContainer {
        img {
          transform: scale(1.1);
        }
      }
      .textContainer {
        .exploreText {
          p {
            border-bottom: solid 1px $color-warmGray;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .imgContainer {
      overflow: hidden;
      height: 35vh;
      width: 100%;

      img {
        transition: all 0.3s;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2em 2.5em;
      color: $color-warmGray;
      font-size: $fontSize--p--Small;

      .text {
        padding-bottom: 2.5em;
        h4 {
          font-size: $fontSize--h4;
          color: $color-black;
          padding-bottom: 0.25em;
          letter-spacing: 1.5px;
        }
      }
      .exploreText {
        p {
          border-bottom: solid 1px $color-white;
          transition: all 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width: $media-laptopM) {
  .figure {
    .content {
      .imgContainer {
        height: 85vh;
      }
    }
  }
}
@media screen and (max-width: $media-tablet) {
  .figure {
    .content {
      .imgContainer {
        height: 55vh;
      }
      .textContainer {
        .text {
          h4 {
            font-size: $fontSize--h5;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $media-tabletS) {
  .figure {
    .content {
      .imgContainer {
        height: 35vh;
      }
    }
  }
}
@media screen and (max-width: $media-mobilesL) {
  .figure {
    .content {
      .imgContainer {
        height: 35vh;
      }
      .textContainer {
        padding: 1em 1.625em;
        .text {
          padding-bottom: 1.5em;
          h4 {
            font-size: $fontSize--p;
          }
          p {
            font-size: $fontSize--p--Small-1;
          }
        }
        .exploreText {
          p {
            font-size: $fontSize--p--Small-1;
          }
        }
      }
    }
  }
}
