@use "../../../styles/" as *;

.figureContainer {
  border-bottom: solid 1px $color-black;
  padding: 2.5em 0;

  a {
    text-decoration: none;
  }
  .imgContainer {
    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }
  .textContainer {
    color: $color-black;
    display: flex;
    padding-top: 2em;
    flex-direction: column;
    .productDescript {
      h4 {
        font-size: $fontSize--h5;
        padding-bottom: 0.5em;
      }
    }
    .moreLink {
      padding-top: 3em;
    }
  }
}
