@use "../../styles/" as *;

.contentContainer {
  @include modalAnimation;
  .searchInput {
    input {
      width: 100%;
      font-size: $fontSize--h4;
      border: none;
      border-bottom: solid 1px $color-black;
      &:focus {
        outline: none;
      }
    }
  }
  .searchFigure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }
}

.active {
  overflow-y: auto;
  opacity: 1;
  transform: translateX(100%);
}
