@use "../../styles/" as *;

.searchContainer {
  padding: 5em;
  .searchFigure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }
}

@media screen and (max-width: $media-tabletR) {
  .searchContainer {
    padding: 2em;
    .searchFigure {
      grid-template-columns: 1fr;
      gap: 2em;
    }
  }
}
