@use "../../styles/" as *;

.favoriteItems {
  padding: 4rem 0;
}

.text {
  padding: 6em;
}

@media screen and (max-width: $media-tablet) {
  .text {
    padding: 3em;
  }
}
@media screen and (max-width: $media-tabletS) {
  .text {
    padding: 1.5em;
  }
}
