@use "../../styles/" as *;

.featureContainer {
  display: grid;
  text-align: center;
  padding: 3em 0;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: $media-landscapeM) {
  .featureContainer {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: $media-tabletS) {
  .featureContainer {
    gap: 2em;

    a {
      font-size: $fontSize--p--Small-1;
    }
  }
}
