@use "../../styles/" as *;

.form {
  display: flex;
  flex-direction: column;
  padding: 4em 10em;

  button {
    border: none;
    margin-top: 3em;
    letter-spacing: 1px;
    color: $color-white;
    border: solid 1px $color-black;
    background-color: $color-black;
    border-radius: 3px;
    padding: 1em;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }
}
