@use "../../styles/" as *;

.userContainer {
  padding: 6em 0;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  letter-spacing: 1.5px;
  .userHeader {
    border-bottom: solid 1px $color-black;
    padding-bottom: 4em;
    h4 {
      font-size: $fontSize--h4;
      color: $color-black;
    }
  }
}

@media screen and (max-width: $media-laptop) {
  .userContainer {
    width: 80%;

    .userHeader {
      h4 {
        font-size: $fontSize--p;
      }
    }
  }
}
@media screen and (max-width: $media-laptop) {
  .userContainer {
    .userHeader {
      h4 {
        font-size: $fontSize--p--Small;
      }
    }
  }
}
