@use "../../../../styles/" as *;

.itemName {
  font-size: $fontSize--h5;
  letter-spacing: 1px;
}

@media screen and (max-width: $media-landscapeM) {
  .itemName {
    font-size: $fontSize--p--Small-1;
  }
}
@media screen and (max-width: $media-mobilesG) {
  .itemName {
    font-size: $fontSize--p--Small-3;
  }
}
