@use "../../styles/" as *;

.messageContaiter {
  grid-column: 1/-1;
  padding: 3em 0.5em;
  text-align: center;
  h4 {
    font-size: $fontSize--h5;
    font-weight: $text-medium;
    color: $color-warmGray;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-width: $media-tabletS) {
  .messageContaiter {
    h4 {
      font-size: $fontSize--p--Small;
    }
  }
}
@media screen and (max-width: $media-mobilesL) {
  .messageContaiter {
    h4 {
      font-size: $fontSize--p--Small-2;
    }
  }
}
