@use "../../styles/" as *;

.searchNav {
  padding-bottom: 4em;
  h3 {
    color: $color-black;
    font-size: $fontSize--h3;
    letter-spacing: 1.2px;
  }
  button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
}

.searchInput {
  input {
    width: 100%;
    font-size: $fontSize--h4;
    border: none;
    border-bottom: solid 1px $color-black;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: $media-tabletR) {
  .searchNav {
    h3 {
      font-size: $fontSize--h5;
    }
  }
  .searchInput {
    input {
      font-size: $fontSize--h6;
    }
  }
}
@media screen and (max-width: $media-mobilesG) {
  .searchNav {
    h3 {
      font-size: $fontSize--p--Small-1;
    }
  }
  .searchInput {
    input {
      font-size: $fontSize--p--Small-2;
    }
  }
}
