@use "../../../../styles/" as *;

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 80%;

  margin: 0 auto;
  align-items: center;
  & h3 {
    letter-spacing: 2px;
    text-align: center;
    color: $color-black;
    font-size: $fontSize--h3;
  }

  .arrowIconContainer {
    display: flex;
    justify-content: flex-end;
    gap: 0.125em;

    & .leftIcon,
    & .rightIcon {
      height: 35px;
      width: 35px;
      border: none;
      background-color: white;
      transition: all 0.3s;
      cursor: pointer;
      & svg {
        color: $color-black;
      }
    }

    .leftIcon:hover {
      transform: translateX(-10px);
    }
    .rightIcon:hover {
      transform: translateX(10px);
    }
  }
}

@media screen and (max-width: $media-laptopL) {
  .header {
    grid-template-columns: 1fr;
    gap: 2em;
    .arrowIconContainer {
      justify-content: center;
    }
  }
}
@media screen and (max-width: $media-tablet) {
  .header {
    & h3 {
      font-size: $fontSize--h3--M;
    }
  }
}
@media screen and (max-width: $media-tabletR) {
  .header {
    & h3 {
      font-size: $fontSize--h5;
    }
  }
}
@media screen and (max-width: $media-mobilesG) {
  .header {
    & h3 {
      font-size: $fontSize--p--Small;
    }
    .arrowIconContainer {
      & .leftIcon,
      & .rightIcon {
        height: 25px;
        width: 25px;
      }
    }
  }
}
