@use "../../styles/" as *;

.carouselContainer {
  align-items: center;
  padding-top: 10em;

  .carouselHeader {
    text-align: center;
    color: $color-gray;
    h3 {
      font-size: $fontSize--h3;
      font-weight: $text-medium;
      letter-spacing: 1.6px;
    }
  }
  .carousel {
    position: relative;
    .carouselButton {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      border: none;
      height: 70px;
      width: 70px;
      z-index: 4;
      background-color: rgba(0, 0, 0, 0);

      cursor: pointer;
      svg {
        height: 45px;
        width: 45px;
        color: $color-darkBlack;
        transition: all 0.4s;
      }
      &:hover.prev {
        svg {
          transform: translateX(-30%);
        }
      }
      &:hover.next {
        svg {
          transform: translateX(30%);
        }
      }
    }

    .prev {
      left: 32.5em;
    }
    .next {
      right: 32.5em;
    }
    .slideContainer {
      display: flex;
      align-items: center;
      list-style: none;
      width: 85%;
      height: 1000px;
      margin: 0 auto;
      position: relative;

      img {
        position: absolute;
        width: 15%;
        transform: translateX(-50%) translateY(-50%);
      }

      .slideImg1 {
        left: 25%;
        opacity: 0.3;
      }
      .slideImg2 {
        left: 35%;
        width: 25%;
        opacity: 0.6;
        z-index: 2;
      }
      .slideImg3 {
        left: 50%;
        width: 30%;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        opacity: 1;
        z-index: 3;
      }
      .slideImg4 {
        width: 25%;
        left: 65%;
        opacity: 0.6;
        z-index: 2;
      }
      .slideImg5 {
        left: 75%;
        opacity: 0.3;
      }
    }
  }
}
