@use "../../../styles/" as *;

.productDetails {
  max-width: 85%;
  margin: 0 auto;
  .productFigure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-row: 1fr;
    padding: 4em 0;

    .detailsContainer {
      list-style: none;
      grid-row: 1/-1;
      padding: 6em;
    }
  }
}
