@use "../../../../styles/" as *;

.itemTotalPrice {
  font-size: $fontSize--p;
}

@media screen and (max-width: $media-landscapeM) {
  .itemTotalPrice {
    font-size: $fontSize--p--Small-1;
  }
}
@media screen and (max-width: $media-mobilesG) {
  .itemTotalPrice {
    font-size: $fontSize--p--Small-3;
  }
}
