@mixin flex__justify-between__align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex__justify-center__align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
