$color-white: #fff;

$color-gray: #868e96;
$color-lightGray-1: #ced4da;
$color-lightGray: #efece9;

$color-warmGray: #817b72;
$color-darkWarmGray: #69645d;

$color-black: #495057;
$color-darkBlack: #343a40;

$color-brown: #7a6242;
$color-darkBrown: #6b563a;
