$media-laptopL: 1440px;
$media-laptopM: 1260px;
$media-laptop: 1025px;
$media-landscape: 910px;
$media-landscapeM: 845px;
$media-landscapeS: 800px;
$media-tablet: 768px;
$media-tabletM: 734px;
$media-tabletR: 624px;
$media-tabletS: 535px;
$media-mobilesG: 480px;
$media-mobilesL: 419px;
$media-mobilesM: 375px;
$media-mobilesM-1: 361px;
$media-mobilesS: 320px;
