$mainNavbar__fontsize--pageLink: 1.125rem;
$mainNavbar__fontsize--logoLink: 2.375rem;
$mainNavbar__fontsize--carIcon: 1.375rem;
$mainNavbar__fontsize--carIcon-tabletS: 1rem;

$fontSize--h1: 4rem;
$fontSize--h2: 3rem;
$fontSize--h3: 2.25rem;
$fontSize--h3--M: 1.75rem;
$fontSize--h4: 1.625rem;
$fontSize--h5: 1.5rem;
$fontSize--h6: 1.125rem;
$fontSize--h6--S: 0.825rem;
$fontSize--p: 1.125rem;
$fontSize--p--Small: 1rem;
$fontSize--p--Small-1: 0.75rem;
$fontSize--p--Small-2: 0.625rem;
$fontSize--p--Small-3: 0.325rem;

$fontSize--meddium: 1.25rem;
$fontSize--small: 1rem;

$text-bold: 700;
$text-medium: 500;
$text-regular: 400;

@mixin textTypo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@mixin flex-directionColumn-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
