$mainNavbar__fontsize--pageLink: 1.125rem;
$mainNavbar__fontsize--logoLink: 2.375rem;
$mainNavbar__fontsize--carIcon: 1.375rem;

$shopLead__fontSize--h1: 4rem;
$shopLead__fontSize--h2: 3rem;
$shopLead__fontSize--p: 1.125rem;

$text-bold: 700;
$text-medium: 500;
$text-regular: 400;

@mixin textTypo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
