@use "../../../styles/" as *;

.footerSection {
  .container {
    padding: 5em 8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
    border-top: solid 1.5px $color-lightGray-1;
    background-color: $color-white;

    .brandNews {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      a {
        text-decoration: none;
      }
      h3 {
        color: $color-black;
        font-size: $fontSize--h3;
        letter-spacing: 2px;
      }

      p {
        color: $color-warmGray;
        font-size: $fontSize--p--Small;
      }
    }

    .linkContainer {
      display: flex;
      flex-direction: column;
      gap: 1em;
      li {
        list-style: none;
        a {
          color: $color-black;
          font-size: $fontSize--meddium;
          font-weight: $text-medium;
          text-decoration: none;
          letter-spacing: 1px;
        }
      }
    }
  }
  .footerNav {
    padding: 0.5em 5em;
    background-color: $color-black;
    color: white;
    img {
      height: 30px;
    }
  }
}

@media screen and (max-width: $media-laptopL) {
  .footerSection {
    .container {
      padding: 3em 6em;
    }
  }
}
@media screen and (max-width: $media-laptopM) {
  .footerSection {
    .container {
      padding: 3em 4em;
    }
  }
}
@media screen and (max-width: $media-laptop) {
  .footerSection {
    .container {
      padding: 0 2em;
      gap: 0;
      grid-template-columns: 1fr;
      text-align: center;
      .brandNews {
        padding: 2em 0;
        border-bottom: solid 1px $color-lightGray-1;

        h3 {
          color: $color-gray;
        }
      }

      .linkContainer {
        padding: 2em 0;
        border-bottom: solid 1px $color-lightGray-1;
      }
      .linkContainer:last-child {
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: $media-tablet) {
  .footerSection {
    .container {
      padding: 0 2em;
      gap: 0;
      grid-template-columns: 1fr;
      text-align: center;
      .brandNews {
        h3 {
          font-size: $fontSize--h4;
        }

        p {
          font-size: $fontSize--p--Small-1;
        }
      }

      .linkContainer {
        li {
          a {
            font-size: $fontSize--h6;
          }
        }
      }
    }
    .footerNav {
      padding: 0.5em 2.5em;
    }
  }
}
