@use "../../../styles/" as *;

.loginForm {
  max-width: 22%;
  display: flex;
  flex-direction: column;
  padding-top: 1.25em;
  text-align: center;

  .loginInput {
    input {
      padding: 1em;
      border: none;
      border: solid 1px $color-lightGray-1;
      width: 100%;
      font-size: $fontSize--p--Small;
      letter-spacing: 0.5px;
      &:first-child {
        border-bottom: none;
      }
    }
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
    border-bottom: solid 1px $color-lightGray-1;
    padding: 2em 0;

    .loginButton {
      color: $color-warmGray;
      border: none;
      background-color: white;
      font-size: $fontSize--h5;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
  .rememberCheck {
    padding: 1em 0;
    border-bottom: solid 1.2px $color-lightGray-1;
    label {
      padding-left: 1em;
      color: $color-black;
      font-size: $fontSize--p--Small;
      letter-spacing: 0.5px;
    }
  }
  .linkContainer {
    padding: 1em 0;
    a {
      color: $color-gray;
      border-bottom: solid 1px $color-lightGray-1;
      text-decoration: none;
    }
  }
}
