@use "../../../styles/" as *;

.favoriteBtn {
  cursor: pointer;
  border: none;
  background-color: $color-white;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
  color: $color-gray;
  &:hover,
  &:active {
    transform: scale(1.1);
  }

  &.favoriteItem {
    svg {
      color: $color-yellow;
    }
  }
}
