@use "../../../styles/" as *;

.productTop {
  padding-top: $navbar__headerHeight;

  max-width: 80%;
  margin: 0 auto;
  .productFigure {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);

    .productFigcaption {
      @include flex-directionColumn-between;
      gap: 1.5em;
      padding: 8em 4em;
    }
  }
}

@media screen and (max-width: $media-laptopL) {
  .productTop {
    max-width: 90%;
  }
}
@media screen and (max-width: $media-laptop) {
  .productTop {
    max-width: 90%;
    padding-top: 3em;
    .productFigure {
      grid-template-columns: 1fr;

      .productFigcaption {
        padding: 8em 0em;
      }
    }
  }
}
@media screen and (max-width: $media-tabletR) {
  .productTop {
    max-width: 90%;

    .productFigure {
      .productFigcaption {
        padding: 3em 1em;
      }
    }
  }
}
