@use "../../styles/" as *;

.modal {
  z-index: 100;
  position: fixed;
  top: 18vh;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  text-align: center;
  padding: 2em 4em;
  writing-mode: horizontal-tb;
  p {
    font-size: $fontSize--p;
    letter-spacing: 1.2px;
    color: $color-red;
  }
  border-inline: 7px solid $color-red;

  &.succeed {
    border-inline: 7px solid $color-green;
    p {
      color: $color-green;
    }
  }
}

.modalEnter {
  opacity: 0;
}

.modalEnterActive {
  opacity: 1;
  transition: all 300ms;
}

.modalExit {
  opacity: 1;
}

.modalExitActive {
  opacity: 0;
  transition: all 300ms;
}
