@use "../../../styles/" as *;

.topSection {
  background-size: cover;
  background-color: $color-gray;
  background-blend-mode: multiply;
  background-position: center;

  @include navbar__Height;

  .leadText {
    @include flex__justify-center__align-center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    height: 100%;
    h1 {
      font-size: $fontSize--h1;
      font-weight: $text-bold;
      letter-spacing: 4px;
      color: $color-white;
    }
    p {
      font-size: $fontSize--p;
      font-weight: $text-regular;
      letter-spacing: 0.6px;
      color: $color-white;
    }
  }
}

.topSection.diningRoom {
  background-image: url(../../../assets/mainSectionIMG/chair-24.jpg);
}
.topSection.homeRoom {
  background-image: url(../../../assets/mainSectionIMG/chair-25.jpg);
}
.topSection.livingRoom {
  background-image: url(../../../assets/mainSectionIMG/chair-26.jpg);
}
.topSection.othersRoom {
  background-image: url(../../../assets/mainSectionIMG/chair-27.jpg);
}
.topSection.mainPage {
  background-image: url(../../../assets/mainSectionIMG/chair-01.jpg);
  background-blend-mode: normal;
  color: $color-black;
  h1 {
    color: $color-black;
  }
  p {
    padding-bottom: 2em;
    color: $color-black;
  }
}

@media screen and (max-width: $media-laptopM) {
  .topSection {
    .leadText {
      h1 {
        font-size: $fontSize--h2;
      }
    }
  }
}
@media screen and (max-width: $media-landscape) {
  .topSection {
    .leadText {
      h1 {
        font-size: $fontSize--h3;
      }
    }
  }
}
@media screen and (max-width: $media-tabletR) {
  .topSection {
    .leadText {
      gap: 0.5em;
      text-align: center;
      h1 {
        font-size: $fontSize--h4;
      }
      p {
        font-size: $fontSize--p--Small-1;
      }
    }
  }
}
@media screen and (max-width: $media-mobilesG) {
  .topSection {
    .leadText {
      gap: 0.5em;
      h1 {
        font-size: $fontSize--h6;
      }
      p {
        font-size: $fontSize--p--Small-2;
      }
    }
  }
}
