@use "../../styles/" as *;

.mapContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10em 0;
  color: white;
  & .mapInfo {
    background-color: $color-black;
    padding: 4em 2em;

    h4 {
      font-size: $fontSize--h4;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $color-white;
    }
    .mapBtn {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      color: white;
      border: none;
      background-color: $color-black;
      cursor: pointer;
      border-bottom: 1px solid $color-black;
      transition: all 0.4s;

      h6 {
        font-size: $fontSize--h6;
        padding-right: 1em;
      }
      &:hover,
      &:active {
        border-bottom: 1px solid $color-white;
        transform: translateX(3%);
      }
    }
    .mapBtn.active {
      border-bottom: 1px solid $color-white;
      transform: translateX(3%);
    }
  }
}

@media screen and (max-width: $media-laptopL) {
  .mapContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: $media-landscape) {
  .mapContainer {
    & .mapInfo {
      padding: 3em 1.5em;

      h4 {
        font-size: $fontSize--h5;
      }
      .mapBtn {
        h6 {
          font-size: $fontSize--p--Small-1;
        }
      }
    }
  }
}
@media screen and (max-width: $media-tabletR) {
  .mapContainer {
    & .mapInfo {
      h4 {
        font-size: $fontSize--h6;
      }
      .mapBtn {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h6 {
          font-size: $fontSize--p--Small-3;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}
