@use "../../styles/" as *;

.cartIcon {
  padding-left: 1em;
  button {
    border: none;
    cursor: pointer;
    background-color: white;
  }
  .Icon {
    margin-top: 3px;
    height: $mainNavbar__fontsize--carIcon;
    width: $mainNavbar__fontsize--carIcon;
    filter: invert(30%);
  }
}

@media screen and (max-width: $media-tabletS) {
  .cartIcon {
    .Icon {
      height: $mainNavbar__fontsize--carIcon-tabletS;
      width: $mainNavbar__fontsize--carIcon-tabletS;
    }
  }
}
@media screen and (max-width: $media-tabletS) {
  .cartIcon {
    padding-left: 0.325em;
  }
}
