@use "../../styles/" as *;

.searchIcon {
  button {
    border: none;
    cursor: pointer;
    background-color: white;
  }
  .Icon {
    margin-top: 3px;
    height: $mainNavbar__fontsize--carIcon;
    width: $mainNavbar__fontsize--carIcon;
    filter: invert(30%);
  }
}
