@use "../../styles/" as *;

.otherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSize--p--Small-1;
  height: $navbar__otherInforHeight;
  color: white;
  background-color: $color-darkBlack;
  z-index: 1000;
  transition: all 0.6s;

  &.login {
    background-color: $color-blue;
  }
}

.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  .nav {
    width: 100%;
    padding: 0 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color: $color-white;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      pointer-events: none;
      border-bottom: solid 1px $color-lightGray-1;
    }

    .logoLink {
      @include flex__justify-center__align-center;
    }

    .pageLink {
      @include flex__justify-center__align-center;
      list-style: none;
      height: 100%;

      & > li {
        padding: 1.5em 0.75em;
        & a {
          font-size: $mainNavbar__fontsize--pageLink;
          font-weight: $text-regular;
          color: $color-warmGray;

          border-bottom: solid 1px rgba(0, 0, 0, 0);
          text-decoration: none;
          transition: all 0.3s;
          &:hover,
          &:active {
            border-bottom: solid 1px $color-warmGray;
          }
        }
      }

      .shopLink {
        .shopDropdown {
          background-color: white;
          transform: translateY($navbar__headerHeight);
          width: 100%;
          left: 0;
          top: 0;
          position: absolute;
          transition: all 0.4s;
          pointer-events: none;
          opacity: 0;
          padding: 0 20em 3em;
          color: $color-warmGray;
          letter-spacing: 1.1px;

          & li {
            list-style: none;
            padding-bottom: 1.5em;
            grid-column: 9;
          }

          & li:last-child {
            padding-bottom: 0;
          }
        }

        &:hover .shopDropdown {
          opacity: 1;
          padding-top: 3em;
          pointer-events: auto;
        }
        &:hover .dropdownBackdrop {
          opacity: 1;
          backdrop-filter: blur(4px);
        }
      }

      & .dropdownBackdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1000;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s;
        background-color: rgba(black, 0.5);
      }
    }

    .shopIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
      list-style: none;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 25px;
        width: 1px;
        background-color: $color-warmGray;
      }
    }
  }
}
