@use "../../../styles/" as *;

svg {
  color: $color-black;

  path {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $color-warmGray;
    }
  }

  .rightArrow:hover {
    transform: translateX(20px);
  }
  .leftArrow:hover {
    transform: translateX(-20px);
  }
}
