@use "../../../styles/" as *;

.cartItemImg {
  width: 30%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: $media-tabletR) {
  .cartItemImg {
    width: 80%;
  }
}
