@use "../styles/" as *;

.errorPage {
  height: 100vh;
  background-color: $color-black;
  .errorText {
    font-size: 2rem;
    letter-spacing: 1px;
    height: 100%;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
