@use "../../../styles/" as *;

.scrollSection {
  ::-webkit-scrollbar {
    width: 0px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;

    margin: 0 auto;
    align-items: center;
    h3 {
      letter-spacing: 2px;
      text-align: center;
      color: $color-black;
      font-size: $fontSize--h3;
    }
    .arrowIconContainer {
      display: flex;
      justify-content: flex-end;
      gap: 0.125em;

      button {
        height: 5%;
        width: 5%;
        border: none;
        background-color: white;
      }
    }
  }

  .wrapper {
    padding: 3em 30px 3em 30%;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x proximity;
    transition: all 0.5s;
    gap: 2em;
  }
}
