@use "../../styles/" as *;

.inputContainer {
  width: 100%;
  &.inputActive {
    input {
      border: solid 1px $color-blue;
      &:first-child {
        border-bottom: none;
      }
      &:focus {
        border: solid 1px $color-blue;
        position: relative;
      }
    }
  }
}
