@use "../../styles/" as *;

.inputContainer {
  input {
    padding: 1em;
    border: none;
    border: 1px solid $color-lightGray-1;
    width: 100%;
    font-size: $fontSize--p--Small;
    letter-spacing: 0.5px;

    margin-top: -1px;

    &:focus {
      outline: 1px solid $color-blue;
      position: relative;
    }
  }
  &.inputActive {
    input {
      border: solid 1px $color-blue;
      background-color: rgba($color-blue, 0.1);
      &:first-child {
        border-bottom: none;
      }
      &:focus {
        border: solid 1px $color-blue;
        position: relative;
      }
    }
  }
}
.emailNotValid {
  .emailInput {
    border: solid 1px $color-red;
    background-color: rgba($color-red, 0.1);
    position: relative;
    &:focus {
      outline: 1px solid $color-red;
    }
  }
}

.emailNotValid.modalActive {
  .emailInput {
    position: static;
  }
}

.passwordNotValid {
  .passwordInput {
    border: solid 1px $color-red;
    background-color: rgba($color-red, 0.1);
    &:focus {
      outline: 1px solid $color-red;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 2em;
  border-bottom: solid 1px $color-lightGray-1;
  padding: 2em 0;

  .loginButton {
    color: $color-warmGray;
    border: none;
    background-color: $color-white;
    font-size: $fontSize--h5;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
