@use "../../../styles/" as *;

.figureContainer {
  border-bottom: solid 1px $color-black;
  padding: 2.5em 0;

  img {
    transition: all 0.3s;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  a {
    text-decoration: none;
  }
}
