@use "../../styles/" as *;

.formWrapper {
  padding-top: $navbar__headerHeight;
  @include navbar__Height;
  @include formTitle;
}

@media screen and (max-width: $media-tabletR) {
  .formWrapper {
    .formTitle {
      h3 {
        font-size: $fontSize--h5;
      }
    }
  }
}
@media screen and (max-width: $media-mobilesG) {
  .formWrapper {
    .formTitle {
      h3 {
        font-size: $fontSize--h6;
      }
    }
  }
}
