@font-face {
  font-family: "DMSansBold";
  src: local("DMSansBold"),
    url("./assets/fonts/DMsans/DMSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DMSansMedium";
  src: local("DMSansMedium"),
    url("./assets/fonts/DMsans/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DMSansRegular";
  src: local("DMSansRegular"),
    url("./assets/fonts/DMsans/DMSans-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "DMSansRegular";
}

.flex-alignCenter-justifyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-alignCenter-justifyCenter-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-alignCenter-justifyBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
