@font-face {
  font-family: "DMSansBold";
  src: local("DMSansBold"),
    url("./fonts/DMsans/DMSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DMSansMedium";
  src: local("DMSansMedium"),
    url("./fonts/DMsans/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DMSansRegular";
  src: local("DMSansRegular"),
    url("./fonts/DMsans/DMSans-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DMSansRegular";
}
