@use "../../../../styles/" as *;

.scrollSection {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 650px;

  & .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    cursor: pointer;
    padding: 4em 0;
    padding-left: 60em;
    gap: 2em;
  }
}
