@use "../../../styles/" as *;

.productSection {
  max-width: 90%;
  margin: 0 auto;
  padding: 6em 0;

  .listContainer {
    display: flex;
    list-style: none;
    gap: 1em;
    padding-bottom: 2.5em;
    border-bottom: solid 1px $color-warmGray;
    button {
      border: none;
      background-color: $color-white;
    }
  }
  .productContainer {
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(3, 1fr);
  }
}
